body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    font-family: verdana;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('https://images.unsplash.com/photo-1584531979583-18c5c4b25efc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjUzfHxiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');

}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;        
}

form button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

thead th {
    background-color: #f0f0f0;
    padding: 10px;
}

tbody td {
    padding: 8px;
    border: 1px solid #ccc;
}

td a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
}

td a:hover {
    background-color: #0056b3;
}

tbody td[colspan='5'] {
    text-align: center;
    font-style: italic;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

footer a{
    color: black;
    text-decoration: none;
}